@page "/contest/{id:int}"

@using BlazorBootstrap
@using Blazored.LocalStorage
@using DraftKings.LineupGenerator.Api.Draftables
@using DraftKings.LineupGenerator.Models.Contests

@inject IContestsClient ContestsClient;
@inject NavigationManager NavigationManager;
@inject ILocalStorageService LocalStorageService;

@if (contest == null || contestSearchModel == null)
{
    <Button Color="ButtonColor.Primary" Loading="true" Style="margin:20px" />
}
else
{
    <div class="trash-container">
        <Button @onclick="RemoveContestAsync">
            <Icon Name="IconName.Trash3Fill" Size="IconSize.x3" />
        </Button>
    </div>
    <h3>@contest.ContestDetail.Name</h3>
    <div class="contest-detail">
        <p class="summary">@contest.ContestDetail.ContestSummary</p>
        <div class="row">
            <div class="col-sm-4">
                <b>Game Type: </b> @contestSearchModel.GameType
            </div>
            <div class="col-sm-4">
                <b>Entries: </b> @contestSearchModel.Entries / @contestSearchModel.MaxEntries
            </div>
            <div class="col-sm-4">
                <b>Start Time: </b> @contestSearchModel.StartDateTimeDecription
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 money">
                <b>Prize Pool: </b> @contestSearchModel.Prizes.ToString("C")
            </div>
            <div class="col-sm-4 money">
                <b>Entry Fee: </b> @contestSearchModel.EntryFee.ToString("C")
            </div>
            <div class="col-sm-4">
                <b>Multi-Entries: </b> @contestSearchModel.MultiEntries
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private ContestModel? contest;
    private ContestSearchModel? contestSearchModel;

    protected override async Task OnParametersSetAsync()
    {
        var contests = await LocalStorageService.GetItemAsync<Dictionary<int, ContestSearchModel>>(Constants.LocalStorage.Contests);

        if (!contests.ContainsKey(Id))
        {
            NavigationManager.NavigateTo("/");
        }

        contestSearchModel = contests[Id];
        contest = await ContestsClient.GetAsync(Id, default);
    }

    private async Task RemoveContestAsync()
    {
        var contests = await LocalStorageService.GetItemAsync<Dictionary<int, ContestSearchModel>>(Constants.LocalStorage.Contests);

        contests.Remove(Id);

        await LocalStorageService.SetItemAsync(Constants.LocalStorage.Contests, contests);

        NavigationManager.NavigateTo("/", replace: true);
    }
}
